Dependências do Node (Nunca envie isso!)

node_modules/

Logs de erro

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Arquivos de sistema operacional

.DS_Store
Thumbs.db

Variáveis de ambiente (Segurança)

.env